body {
    min-height: 600px;
    background-color: #fff0;
}

.page {
    background: url(/static/images/square_logo.png) no-repeat top center;
    width:100%;
    height:100%;
    /*z-index: -1;*/
    position: fixed;
    /*background-attachment: fixed;*/
    filter: opacity(0.10);
    margin-top: 50px;

}
    /*background-attachment: fixed;*/
/*    max-width: 1800px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    
    
}*/

p, label {
    color: #1E2032;
    font-size: 14px;
}
p, a {
    font-family: 'Open Sans', sans-serif;
}

label {
    font-family: 'Ubuntu', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    /*color: #B2362C;*/
    color: #d03315;
    font-family: 'Ubuntu', sans-serif;
}

ul, li {
    list-style-type: none;
}

li {
    padding-bottom: 5px;
}

.btn-default {
    color: #E1E4E9;
    background-color: #1E2032; 
    font-family: 'Ubuntu', sans-serif;
}

#btn-nav {
    color: #1E2032;
    /*color: #ffffff;*/
    background-color: #E1E4E9; 
}

.modal-dialog {
    font-family: 'Ubuntu', sans-serif;
}

/*Carousel*/
.carousel{
    background: #2f4357;
    /*margin-top: 10px;*/
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
  margin: 5px 10px 10px 10px;
}

.carousel-caption > h3 {
    color: #fcf8e3;
}

.carousel-caption > p {
    color: #fcf8e3;
}

/* Hompage */

/*NAVBAR*/
.navbar {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-default .navbar-brand {
    /*color: #B2362C;*/
    color: #d03315;
}

.navbar-default .navbar-nav>li>a {
    color: #C3CDD6;
}

.navbar-default .navbar-nav>li>a {
    color: #C3CDD6;
}

.navbar-default .navbar-nav>li>a {
    color: #C3CDD6;
}

.navbar {
    /*margin-bottom: 10px;*/
    background-color: #1E2032;
    color: #fff;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:focus{
    color: #e1e4e9;
} 
.navbar-default .navbar-nav>li>a:hover{
    color: #e1e4e9;
}

.navbar-default .navbar-brand:focus {
    color: #b2362c9c;

}
.navbar-default .navbar-brand:hover {
    color: #b2362c9c;

}

/* Alert Messages */
.alert {
    margin-top: 10px;
    margin-left: 400px;
    width: 300px;
    height: 20;
}

#alert-message {
    width: 300px;
    height: 20px;
}

/* Features Row */

/*.feature {
    text-align: center;
}*/

#featurerow {
    /*margin-top: 10px;*/
    padding-top: 5px;
    font-family: 'Ubuntu', sans-serif;
}

#homepage-header1 {
    padding-left: 170px;
    width: 550px;
}
#homepage-header2 {

    padding-left: 125px;
    width: 550px;
}
h3#homepage-header2 {
    margin-top: 5px;
}
h3#homepage-header1 {
    margin-top: 10px;
    margin-bottom: 0px;
}


/*.hp-feature-name {
    margin-left: 150px;

}*/

.feature-group {
    margin-top: 10px;
}

#hp-feature-src {
    margin-left: 135px;

}
#hp-feature-login {
    margin-left: 160px;
}

.hp-login-form {
    display: inline-block;
}

#hp-feature-rgstr {
    margin-left: 125px;
}

.hp-login {
    margin-left: 100px;
 }   

.hp-form-btn {
    margin-left: 165px; 
}

#hp-form-btn-rgstr {
    margin-left: 160px;
    margin-top: 10px; 
}


#hp-usr-src {
    margin-left: 100px;

}

.hp-form-control {
    width: 200px;
    height: auto;
}

.hp-login-form {
    margin-right: 2px;
}

.search-box {
    width: 206px;
}

/*ABOUT PAGE*/

#about-image {
    width: 600px;
    height: auto;

}

/*REGISTER PAGE*/

.register-form {
    width: 250px;
}

/*USER PAGE*/

#welcome {

    padding-bottom: 10px;

}

.user-page-p {
    font-size: 16px;
    margin-top: 30px;
    /*margin-bottom: 50px;*/
    padding-bottom: 50px;
}

input[type=checkbox] {
   /*margin-right: 5px; */
   padding-right: 5px;

}


.trip-text {
    line-height: 2.5;
    color: #d03315;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}

.date-text {
    line-height: 1.6;
    color: #1e2032;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
    
}

.meal-text {
    color: #1e2032;
    font-family: 'Ubuntu', sans-serif;
}

.delete-btn {
    /*margin-top: 20px;*/
    /*padding-top: 20px;*/
    margin-left: 150px;
    /*padding-left: 150px;*/
}

.form-control-search-place {
    font-family: 'Open Sans', sans-serif;
}

.search-place-form {
    padding: 15px;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    border-color: #1E2032;
    width: 400px;
}


/*SEARCH PLACES PAGE*/


#places-page-content {
    /*margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;*/
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 20px;

}

#places-page-map {
    /*margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 20px;*/
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.save-btn {
    margin-left: 30px;
    /*padding-left: 30px;*/
}

.map-container {
    padding: 13px 15px 13px 13px;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    border-color: #1E2032;

}

/*USER SEARCH RESULT PAGE*/

.user-search-page-p {
    font-size: 16px;
    font-weight: bold;
    /*margin-top: 20px;*/
    padding-top: 20px;
    /*margin-bottom: 5px;*/
    padding-bottom: 5px
}











