{% extends 'base.html' %}
{% block title %}About VisEat{% endblock %}

{% block content %}
<div class="page"></div>
<div class="container-fluid">
    <div class="row">
        <section class="col-xs-12 col-md-6 col-lg-8 col-md-offset-3 col-lg-offset-2" id="about-section">
            <h2>About GoVisEat</h2>
            <p class="about-info">GoVisEat is the right place where you can easily look for places to eat during your stay in many cities around the world. You can search for them, see their location, reach their information and save which suits your appetite! Next time you go to the same city, you may want to remember them! You get inspired by your trips! Even you get inspired by others' trips! If you didn't try yet, click on register! Et voila!</p>
            <!-- <img src="static/images/food1111.jpg" class="img-responsive center-block" alt="Image of meal" id="about-image"> -->
            <h3>About Project</h3>
            <p class="about-info">GoVisEat is a webapp that helps user to make a customized search to choose where to eat in a specific city for a time period, save these recommended places in advance and even search for other users to see their saved trips.  Users can register and login. Once the user logged in, they are directed to their personal page, where they can see their saved places if they have saved any, and a search form . In order to make a search, user should enter an arrival date, a departure date and pick a city. After entering, a list of places and a Google map including the location of these places show up at the page regarding to the duration of the trip. User can view their location click on them to be directed to their Yelp page, save these places and search for other users to see their saved places. The application uses Yelp API and Google Maps for place search.</p>
            <h4>Tech Stack</h4>
            <p>
            <span style="font-weight: bold;">Languages:</span> Python, JS, HTML, CSS, SQL<br>
            <span style="font-weight: bold;">Frameworks and Templates:</span> Flask, Jinja, Bootstrap<br>
            <span style="font-weight: bold;">Other Technologies:</span> Ajax, jQuery, SQLAlchemy, PostgreSQL<br>
            </p>
             

        </section>
    </div>

</div>


{% endblock %}
