{% extends 'base.html' %}

{% block title %}Viseat{% endblock %}

{% block content %}
<h1>Hello! It is easy to Viseat! It is easy to search and save places!</h1>
<form method="POST" action="/login">
  <div>
    <label>Email:
      <input type="email" name="email" required>
    </label><br>
  </div>

  <div>
    <label>Password: 
      <input type="password" name="password" required>
    </label><br>
  </div>

  <div>
    <input type="submit" value="Log In">
  </div>
</form>

<form method="GET" action="/register">
  <div>
    <label>If you are not a user, please register.<br>
      <input type="submit" value="Register">
    </label>
  </div>
</form>

<form method="GET" action="/search_user">
  <div>
    <label>Search for a user.<br>
      <input type="text" name="username" required>
    </label>
    <input type="submit" value="Search">
  </div>
</form>


{% endblock %}
