{% extends 'base.html' %}

{% block title %}Logged In{% endblock %}

{% block content %}
<h1>It is easy to Viseat!</h1>
<p>Hi {{ user.fname }}</p><br>
<form method="GET" action="/places">
    <div>
        <label>City</label>
        <input type="text" name="name" placeholder="City, zipcode, Country" required>
    </div>
    <div>
        <label>Arrival Date</label>
        <input type="datetime-local" name="arrival_date" required>
    </div>
    <div>
        <label>Departure Date</label>
        <input type="datetime-local" name="departure_date" required>
    </div>
    <div>
        <label>Select</label><br>
        <input type="checkbox" name="meal" value="Breakfast">Breakfast<br>
        <input type="checkbox" name="meal" value="Lunch">Lunch<br>
        <input type="checkbox" name="meal" value="Dinner">Dinner<br>
    </div>


    <input type="submit" value="Search!">
</form>
<form action="/logout" method="GET">
      <input type="submit" value="Logout">
</form>

{% endblock %}